%nav
  %ul
    %li
      %a.nav_index{ href: "/styleguide/index.html" } Overview
    %li
      %a.nav_01_structure{ href: "/styleguide/01_structure.html" } 1.0 Page Structure
    %li
      %a.nav_02_colors{ href: "/styleguide/02_colors.html" } 2.0 Colors
    %li
      %a.nav_03_typography{ href: "/styleguide/03_typography.html" } 3.0 Typography
    %li
      %a.nav_04_links{ href: "/styleguide/04_links.html" } 4.0 Links
    %li
      %a.nav_05_buttons{ href: "/styleguide/05_buttons.html" } 5.0 Buttons
    %li
      %a.nav_06_forms{ href: "/styleguide/06_forms.html" } 6.0 Forms
    %li
      %a.nav_07_tables{ href: "/styleguide/07_tables.html" } 7.0 Tables
    %li
      %a.nav_08_dialogs{ href: "/styleguide/08_dialogs.html" } 8.0 Dialogs
    %li
      %a.nav_09_graphic{ href: "/styleguide/09_graphic.html" } 9.0 Graphic Elements
    %li
      %a.nav_10_navigation{ href: "/styleguide/10_navigation.html" } 10.0 Navigation
    %li
      %a.nav_11_modules{ href: "/styleguide/11_modules.html" } 11.0 Modules
