// Styleguide Section
.styleguide-example {
  margin-bottom: 1em;
  @include box-shadow(0 1px 1px rgba(0,0,0,0.15));

  h3 {
    padding: 0.25em 0.5em;
    border-bottom: 1px solid #333;
    color: #f8f8f8;
    background: #444;
    font-size: 0.75em;
    em {
      float: right;
    }
  }

  .styleguide-description {
    padding: 0.75em 0.5em;
    border: 1px solid #f1f1f1;
    background: #f8f8f8;
    font-size: 0.875em;

    ul {
      padding-left: 1em;
      margin: 0;
      list-style: none;
    }
  }
}

// Styleguide Element within a Section
.styleguide-element {
  position: relative;
  padding: 1em;
  margin: 0;
  border: 1px solid #f1f1f1;
  border-top: none;
  background: #fefefe;
  
  .styleguide-modifier-name {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75em 1em;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    background: #f8f8f8;
    font-size: 0.625em;
  }
}
